.sidenav-container {
  height: 96%;
}

.sidenav {
  width: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f9f9f9;
}

.head {
  display: flex;
  align-items: flex-end;
}

.main-content {
  padding: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.closebutton {
  display: flex;
  align-items: flex-end;
}

.chat-container {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.messages {
  flex: 1 1 auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.user {
  align-self: flex-end;
  background-color: #8ED195;
  color: #333;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 100%;
  font-size: 14px;
  white-space: pre-line;
}

.bot {
  align-self: flex-start;
  background-color: #eee;
  color: #333;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 100%;  
  font-size: 14px;
  white-space: pre-line;
}

.message-text {
  word-wrap: break-word;
  font-size: 14px;
}

/* Input Section */
.chat-input {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  background: #fff;
  border-top: 1px solid #ccc;
}

.input-box {
  flex: 1;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.send-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.send-button:hover {
  background-color: #0056b3;
}

.voice-button {
  background-color: #8ED195;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.voice-button.listening {
  /* background-color: #dc3545; Red background when listening */
  background-color: #92CE67;
}

.voice-button:hover:not(.listening) {
  background-color: #92CE67;
}

.voice-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}
.voice-button:hover .voice-icon {
  transform: scale(1.1);
}
/* Scrollbar Customization */
.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* Clear log button */
.clear-button {
  align-self: flex-end;
  margin-bottom: 0.5rem;
  background: transparent;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 0.9rem;
}

/* Language selector */
.language-select {
  width: 100%;
  margin-bottom: 1rem;
}